.content {
    font-family: 'Ubuntu Condensed', sans-serif;
}

li {
    text-decoration: none;
    display: inline;
}

li a {
    padding: 50px;
    font-size: 20px;
    color: #fff;
    position: relative;
    bottom: 50px;
}

.link-1 {
    transition: 0.3s ease;
    background: #000;
    color: white;
    padding: 20px 0;
    margin: 0 20px;
    border-top: 4px solid #000;
    border-bottom: 4px solid #000;
}

.link-1:hover {
    border-top: 4px dotted #fff;
    border-bottom: 4px dotted #fff;
    padding: 6px 0;
    color: aqua;
}

nav {
    text-align: center;
    padding-top: 150px;
    background-color: black;
}

.twin {
    background: linear-gradient( rgba(40, 73, 19, 0.43), rgba(40, 73, 19, 0.43)), url(../images/XL.jpg) center center no-repeat;
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
}

.row {
    color: oldlace;
}

.players {
    color: oldlace;
    background: linear-gradient( rgba(0, 0, 0, 0.42), rgba(0, 0, 0, 0.42)), url(../images/gray-black-texture-surface-point-background-hd-Wallpaper.jpg) center center no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 30px;
    background-attachment: fixed;
}

.tourn {
    margin-top: 50px;
    color: #fff;
    background-color: #000;
}

.bottom {
    background-image: url(../images/index.jpeg);
    color: cornsilk;
    height: 200px;
    margin-top: 25px;
}

.bottom ul {
    text-align: center;
    color: #8e6a06;
}

.bottom i {
    position: relative;
    top: 100px;
    color: #8e6a06;
}

.bottom p {
    color: #8e6a06;
    text-align: center;
    position: relative;
    top: 60px;
}

#sides {
    transform: rotate(270deg) scale(1) skew(1deg) translate(0px);
    float: left;
    position: relative;
    top: 200px;
    margin-left: 80px;
    font-size: 100px;
    font-family: 'Exo', sans-serif;
}